body {
  background-color: #282c34;
}

.fuckshitup{
  background-color: white;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #f5f5f5;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222;
}

.App-link {
  color: #61dafb;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
  background-color: #f5f5f5;
}
